/*
 * asobimath.shell.css
 * シェルスタイル
 */
.asobimath-shell-head, .asobimath-shell-head-title, .asobimath-shell-head-acct,
.asobimath-shell-main
{
  position: absolute;
}

.asobimath-shell-head {
  top    : 0;
  left   : 0;
  right  : 0;
  height : 40px;
  background: red;

}

.asobimath-shell-head-title {
  top    : 5px;
  left   : 20px;
  color  : white;
  font-size: 20px;
}

.asobimath-shell-head-acct {
  top    : 4px;
  right  : 30px;
  width  : 120px;
  height : 32px;
  cursor: pointer;
  background : green;
  }

.asobimath-shell-main {
  top    : 0;
  left   : 0;
  bottom : 0;
  right  : 0;
  background : yellow;
}

.asobimath-shell-head-acct:hover {
  background-color: #E63C41;
}

.asobimath-shell-main {
  top    : 40px;
  left   : 0;
  bottom : 0;
  right  : 0;
}
