/*
 * asobimath.login.css
 * ログイン画面モジュール
 */

 .asobimath-login-username-title, .asobimath-login-username-textbox,
 .asobimath-login-passward-title, .asobimath-login-passward-textbox,
 .asobimath-login-button-ok     , .asobimath-login-button-cancel
 {
   position: absolute;
 }

.asobimath-login-username-title {
  top    : 40px;
  left   : 20px;
  right  : 20px;
  font-size: 25px;
}

.asobimath-login-username-textbox {
  top    : 80px;
  left   : 20px;
  height : 40px;
  width: 280px;
  font-size: 35px;
}

.asobimath-login-passward-title {
  top    : 140px;
  left   : 20px;
  right  : 20px;
  font-size: 25px;
}

.asobimath-login-passward-textbox {
  top    : 180px;
  left   : 20px;
  height : 40px;
  width: 280px;
  font-size: 35px;
}

.asobimath-login-button-ok{
  top    : 260px;
  left   : 40px;
  width  : 130px;
  line-height: 40px;
  font-size: 35px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.asobimath-login-button-ok:hover{
  background-color: red;
}

.asobimath-login-button-cancel{
  top    : 260px;
  left   : 220px;
  width  : 130px;
  line-height : 40px;
  font-size: 35px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.asobimath-login-button-cancel:hover{
  background-color: red;
}
